<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kkw.displayjokeslibrary">

    <application>
        <activity
            android:name=".DisplayActivity"
            android:label="@string/title_activity_display"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>